@keyframes example1{
    0%
    {
        left: -200px;
        opacity: 0;
    }
    100%
    {
        left: 200px;
        opacity: 1;
    }
}


.box{
    left: 200px;
    width: 200px;
    height: 50px;
    background-color: rgb(157, 148, 176);
    position:relative; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: example1 3s ease 1s;
    text-align: center;
    margin: 5px;

}
.box:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 1s;
}
p::before{
    content: "!!! 404 not found";
}
.box:nth-child(even)
{
    background-color: chocolate;
}

